In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('diabetes.csv')

In [ ]:
df.shape

(768, 9)

In [ ]:
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [ ]:
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [ ]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
#import train_test_split
from sklearn.model_selection import train_test_split

In [ ]:
#separate columns in dependent import train_test_split
X=df.drop("Outcome",axis=1)
Y=df[("Outcome")]

In [ ]:
#split dataset into training and test axis
x_train, x_test,y_train,y_test=train_test_split(X,Y,test_size=0.30,random_state=1)

In [ ]:
#import Gaussian Naive Bayes model 
from sklearn.naive_bayes import GaussianNB

In [ ]:
#create a Gaussian Classifier
model=GaussianNB()

In [ ]:
# Train the model using the training sets
model.fit(x_train,y_train)

GaussianNB()

In [ ]:
#Predict the response for test datasets
y_pred=model.predict(x_test)

In [ ]:
from sklearn import metrics

In [ ]:
print("accuracy:",metrics.accuracy_score(y_test,y_pred))

accuracy: 0.7835497835497836